/* PRELOADER */
.preloader {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
  overflow: hidden;
}
.preloader .inner {
  display: inline-block;
  position: relative;
  z-index: 1;
  -webkit-animation-name: preloader-inner;
  -moz-animation-name: preloader-inner;
  -ms-animation-name: preloader-inner;
  -o-animation-name: preloader-inner;
  animation-name: preloader-inner;
  animation-duration: 0.8s;
  transition: all ease 0.8s;
}
.preloader .inner figure {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 0;
}
.preloader .inner figure img {
  height: 70px;
}
.preloader .inner small {
  width: 100%;
  display: block;
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}
.preloader .inner .progress-bar {
  background: none;
}
.preloader svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  fill: #080808;
}
.preloader svg path {
  animation-name: preloader-svg;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 0.7s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

/* BEFORE PAGE LOADED */
.navbar {
  transform: translateY(-100%);
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  transition-delay: 0.2s;
}

.slider {
  transform: scale(1.4);
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  transition-delay: 0.25s;
  opacity: 0;
}

.page-header {
  transform: scale(1.4);
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  transition-delay: 0.25s;
  opacity: 0;
}

/* PAGE LOADED */
.page-loaded .preloader {
  top: 100%;
}

.page-loaded .preloader .inner {
  transform: translateY(50px);
  opacity: 0;
}

.page-loaded .preloader svg path {
  animation-play-state: running;
}

.page-loaded .navbar {
  transform: translateY(0);
}

.page-loaded .slider {
  transform: scale(1);
  opacity: 1;
}

.page-loaded .page-header {
  transform: scale(1);
  opacity: 1;
}

/* PAGE TRANSITION */
.page-transition {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: -100%;
  z-index: 99;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.7s;
  overflow: hidden;
}
.page-transition.active {
  top: 0;
}
.page-transition.active svg path {
  -webkit-animation-name: page-transition;
  -moz-animation-name: page-transition;
  -ms-animation-name: page-transition;
  -o-animation-name: page-transition;
  animation-name: page-transition;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.page-transition svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  fill: #080808;
}

/* SEARCH BOX */
.search-box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  background: #fff;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.search-box.active {
  opacity: 1;
  visibility: visible;
}
.search-box .container {
  display: flex;
  flex-wrap: wrap;
}
.search-box .container .form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}
.search-box .container .form h3 {
  width: 100%;
  display: block;
  font-family: "Cinzel", serif;
  margin-bottom: 30px;
  font-size: 30px;
}
.search-box .container .form input[type="search"] {
  width: 70%;
  border: none;
  border-bottom: 2px solid #eee;
  margin: 0 15%;
  margin-bottom: 20px;
  font-size: 19px;
}
.search-box .container .search-events {
  width: 100%;
  display: block;
  margin-top: 5vh;
}
.search-box .container .search-events ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.search-box .container .search-events ul li {
  flex: 1;
  margin: 0;
  padding: 0 5%;
  list-style: none;
  text-align: center;
}
.search-box .container .search-events ul li h5 {
  width: 100%;
  display: block;
  font-size: 20px;
  font-family: "Cinzel", serif;
  font-weight: 400;
}
.search-box .container .search-events ul li h5 a {
  display: inline;
  background-image: -moz-linear-gradient(
    rgba(0, 0, 0, 0) calc(99% - 1px),
    #080808 2px
  );
  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0) calc(99% - 1px),
    #080808 2px
  );
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) calc(99% - 1px),
    #080808 1px
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s;
}
.search-box .container .search-events ul li h5 a:hover {
  background-size: 100% 100%;
  text-decoration: none;
}
.search-box .container .search-events ul li small {
  width: 100%;
  display: block;
  opacity: 0.7;
}

/* SIDE WIDGET */
.side-widget {
  width: 540px;
  max-width: 80vw;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 10;
  padding: 30px 50px;
  padding-right: 110px;
  color: #fff;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  overflow: auto;
}
.side-widget.active {
  left: 0;
}
.side-widget.active .logo {
  opacity: 1;
  transform: translateX(0);
}
.side-widget.active .inner {
  opacity: 1;
  transform: translateX(0);
}
.side-widget.active .display-mobile {
  opacity: 1;
  transform: translateX(0);
}
.side-widget.active svg path {
  -webkit-animation-name: side-widget-in;
  -moz-animation-name: side-widget-in;
  -ms-animation-name: side-widget-in;
  -o-animation-name: side-widget-in;
  animation-name: side-widget-in;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.side-widget svg {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  fill: #080808;
}
.side-widget svg path {
  -webkit-animation-name: side-widget-out;
  -moz-animation-name: side-widget-out;
  -ms-animation-name: side-widget-out;
  -o-animation-name: side-widget-out;
  animation-name: side-widget-out;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.side-widget .logo {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  transform: translateX(-100px);
}
.side-widget .logo img {
  height: 62px;
}
.side-widget .inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  transform: translateX(-100px);
}
.side-widget .inner .widget {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.side-widget .inner .widget:last-child {
  margin-bottom: 0;
}
.side-widget .inner .widget p:last-child {
  margin-bottom: 0;
  font-weight: 400;
  opacity: 0.8;
}
.side-widget .inner .widget-title {
  width: 100%;
  display: block;
  font-size: 26px;
  font-family: "Cinzel", serif;
  margin-bottom: 15px;
  color: #94ffc4;
}
.side-widget .display-mobile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  transform: translateX(-100px);
  display: none;
}
.side-widget .display-mobile .custom-menu {
  width: 100%;
  display: block;
  margin-top: auto;
}
.side-widget .display-mobile .custom-menu ul {
  width: 100%;
  margin: 0;
}
.side-widget .display-mobile .custom-menu ul li {
  width: 100%;
  font-family: "Cinzel", serif;
  font-size: 20px;
}
.side-widget .display-mobile .custom-menu ul li a {
  display: inline-block;
  color: #fff;
  margin: 5px 0;
}
.side-widget .display-mobile .custom-menu ul li a:hover {
  text-decoration: none;
  color: #94ffc4;
}
.side-widget .display-mobile .site-menu {
  width: 100%;
  display: block;
  margin-bottom: auto;
  margin-top: 10px;
}
.side-widget .display-mobile .site-menu ul {
  width: 100%;
  margin: 0;
}
.side-widget .display-mobile .site-menu ul li {
  width: 100%;
  font-family: "Cinzel", serif;
  font-size: 20px;
}
.side-widget .display-mobile .site-menu ul li a {
  display: inline-block;
  color: #fff;
  margin: 5px 0;
}
.side-widget .display-mobile .site-menu ul li a:hover {
  text-decoration: none;
  color: #94ffc4;
}

/* PAGE HEADER */
.page-header {
  width: 100%;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-size: cover !important;
}
.page-header .inner {
  width: 100%;
  display: block;
  padding: 0 60px;
  position: relative;
  margin-top: 60px;
}
.page-header .inner h1 {
  font-size: 126px;
  font-weight: 400;
  font-family: "Cinzel", serif;
  line-height: 1;
  margin-bottom: 30px;
  position: relative;
}
.page-header .inner p {
  font-size: 19px;
  margin: 0;
  opacity: 0.7;
  padding-left: 30px;
  border-left: 3px solid #080808;
  margin-left: 10px;
  position: relative;
  padding-right: 50%;
}
.page-header .inner .svg-morph {
  position: absolute;
  top: calc(50% - 200px);
  left: 50%;
  z-index: 0;
  transform: translateX(-140%);
}
.page-header .inner .svg-morph path {
  fill: #94ffc4;
  animation-name: svg-morph;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 8s;
  animation-fill-mode: both;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

/* CONTENT SECTION */
.content-section {
  width: 100%;
  display: block;
  padding: 120px 0;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
.content-section .container {
  position: relative;
  z-index: 1;
}
.content-section .container-fluid {
  position: relative;
  z-index: 1;
}

.bottom-white {
  position: relative;
}
.bottom-white:before {
  content: "";
  width: 100%;
  height: 140px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.bottom-white:before .container {
  position: relative;
  z-index: 1;
}

/* RESPONSIVE MEDIUM  */
@media only screen and (max-width: 1199px),
  only screen and (max-device-width: 1199px) {
  .search-box .container .search-events ul li {
    padding: 0 2%;
  }

  .slider .slider-texts .swiper-slide h1 {
    font-size: 92px;
  }

  .navbar .site-menu ul li {
    margin: 0 10px;
  }

  .navbar .navbar-button {
    display: none;
  }

  .play-now {
    left: 60%;
  }

  .page-header .inner h1 {
    font-size: 92px;
  }

  .page-header .inner p {
    padding-right: 30%;
  }

  .section-title h2 {
    font-size: 72px;
  }

  .side-icon-list ul li {
    margin-bottom: 30px;
  }

  .side-icon-list.right-side {
    padding-left: 30px;
  }

  .exhibition-box .content-box h4 {
    font-size: 25px;
  }

  .exhibition-box {
    padding: 0 !important;
  }

  .collection-box {
    padding: 0 !important;
  }

  .collection-box h4 {
    font-size: 25px;
  }

  .image-content-box {
    padding: 0 !important;
  }

  .counter-box .odometer {
    font-size: 56px;
  }

  .counter-box .value {
    font-size: 56px;
  }

  .testimonial-box {
    max-width: 100%;
  }

  .text-content p {
    padding-right: 10%;
  }

  .image-icon-box .content-box h4 {
    font-size: 26px;
  }

  .image-icon-box:hover .content-box .expand {
    max-height: 400px;
  }

  .side-list.right {
    padding-left: 30px;
  }

  .side-content h2 {
    font-size: 46px;
  }

  .side-content.left {
    padding-right: 30px;
  }

  .art-slider-content {
    height: 300px;
  }

  .art-slider .titles h2 {
    font-size: 46px;
  }

  .cta-box h2 {
    font-size: 72px;
  }

  .contact-form {
    padding: 0;
  }

  .recent-news .content-box h3 {
    font-size: 38px;
  }

  .newsletter-box .form {
    width: 100%;
    padding: 0;
  }

  .newsletter-box .newsletter-image {
    display: none;
  }
}

/* RESPONSIVE MOBILE */
@media only screen and (max-width: 767px),
  only screen and (max-device-width: 767px) {
  .preloader {
    background: #080808;
  }

  .preloader svg {
    display: none;
  }

  .page-transition {
    background: #080808;
  }

  .page-transition svg {
    display: none;
  }
}
/* ANIMATIONS */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0);
  }
}
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@-webkit-keyframes svg-morph {
  0% {
    d: path(
      "m244.333332,38.437499c26.666664,-1.666666 125.666662,0.999995 195.333325,50.33333c69.666663,49.333335 -39.666664,141.666664 -70.666664,174.229164c-31,32.5625 -176.999993,107.437507 -234.999993,76.437507c-58,-31 73.666665,-107.000001 49,-190.4375c-24.666665,-83.437499 34.666668,-108.895835 61.333332,-110.562501z"
    );
  }
  100% {
    d: path(
      "m244.333332,38.437499c58.666669,50.333342 24.666647,101.000011 94.33331,150.333346c69.666663,49.333335 71.333353,156.666666 14.333349,175.229163c-57.000004,18.562498 -160.999991,6.437492 -218.999991,-24.562508c-58,-31 -109.333363,-174.000012 -70.000018,-236.437507c39.333345,-62.437496 121.666681,-114.895836 180.33335,-64.562494z"
    );
  }
}
@-moz-keyframes svg-morph {
  0% {
    d: path(
      "m244.333332,38.437499c26.666664,-1.666666 125.666662,0.999995 195.333325,50.33333c69.666663,49.333335 -39.666664,141.666664 -70.666664,174.229164c-31,32.5625 -176.999993,107.437507 -234.999993,76.437507c-58,-31 73.666665,-107.000001 49,-190.4375c-24.666665,-83.437499 34.666668,-108.895835 61.333332,-110.562501z"
    );
  }
  100% {
    d: path(
      "m244.333332,38.437499c58.666669,50.333342 24.666647,101.000011 94.33331,150.333346c69.666663,49.333335 71.333353,156.666666 14.333349,175.229163c-57.000004,18.562498 -160.999991,6.437492 -218.999991,-24.562508c-58,-31 -109.333363,-174.000012 -70.000018,-236.437507c39.333345,-62.437496 121.666681,-114.895836 180.33335,-64.562494z"
    );
  }
}
@-ms-keyframes svg-morph {
  0% {
    d: path(
      "m244.333332,38.437499c26.666664,-1.666666 125.666662,0.999995 195.333325,50.33333c69.666663,49.333335 -39.666664,141.666664 -70.666664,174.229164c-31,32.5625 -176.999993,107.437507 -234.999993,76.437507c-58,-31 73.666665,-107.000001 49,-190.4375c-24.666665,-83.437499 34.666668,-108.895835 61.333332,-110.562501z"
    );
  }
  100% {
    d: path(
      "m244.333332,38.437499c58.666669,50.333342 24.666647,101.000011 94.33331,150.333346c69.666663,49.333335 71.333353,156.666666 14.333349,175.229163c-57.000004,18.562498 -160.999991,6.437492 -218.999991,-24.562508c-58,-31 -109.333363,-174.000012 -70.000018,-236.437507c39.333345,-62.437496 121.666681,-114.895836 180.33335,-64.562494z"
    );
  }
}
@-o-keyframes svg-morph {
  0% {
    d: path(
      "m244.333332,38.437499c26.666664,-1.666666 125.666662,0.999995 195.333325,50.33333c69.666663,49.333335 -39.666664,141.666664 -70.666664,174.229164c-31,32.5625 -176.999993,107.437507 -234.999993,76.437507c-58,-31 73.666665,-107.000001 49,-190.4375c-24.666665,-83.437499 34.666668,-108.895835 61.333332,-110.562501z"
    );
  }
  100% {
    d: path(
      "m244.333332,38.437499c58.666669,50.333342 24.666647,101.000011 94.33331,150.333346c69.666663,49.333335 71.333353,156.666666 14.333349,175.229163c-57.000004,18.562498 -160.999991,6.437492 -218.999991,-24.562508c-58,-31 -109.333363,-174.000012 -70.000018,-236.437507c39.333345,-62.437496 121.666681,-114.895836 180.33335,-64.562494z"
    );
  }
}
@keyframes svg-morph {
  0% {
    d: path(
      "m244.333332,38.437499c26.666664,-1.666666 125.666662,0.999995 195.333325,50.33333c69.666663,49.333335 -39.666664,141.666664 -70.666664,174.229164c-31,32.5625 -176.999993,107.437507 -234.999993,76.437507c-58,-31 73.666665,-107.000001 49,-190.4375c-24.666665,-83.437499 34.666668,-108.895835 61.333332,-110.562501z"
    );
  }
  100% {
    d: path(
      "m244.333332,38.437499c58.666669,50.333342 24.666647,101.000011 94.33331,150.333346c69.666663,49.333335 71.333353,156.666666 14.333349,175.229163c-57.000004,18.562498 -160.999991,6.437492 -218.999991,-24.562508c-58,-31 -109.333363,-174.000012 -70.000018,-236.437507c39.333345,-62.437496 121.666681,-114.895836 180.33335,-64.562494z"
    );
  }
}
@-webkit-keyframes preloader-svg {
  0% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
  50% {
    d: path(
      "M0,230 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,960 305.333333,1080 0,1080 L0,230 Z"
    );
  }
  100% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
}
@-webkit-keyframes preloader-svg {
  0% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
  50% {
    d: path(
      "M0,230 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,960 305.333333,1080 0,1080 L0,230 Z"
    );
  }
  100% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
}
@-moz-keyframes preloader-svg {
  0% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
  50% {
    d: path(
      "M0,230 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,960 305.333333,1080 0,1080 L0,230 Z"
    );
  }
  100% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
}
@-ms-keyframes preloader-svg {
  0% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
  50% {
    d: path(
      "M0,230 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,960 305.333333,1080 0,1080 L0,230 Z"
    );
  }
  100% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
}
@-o-keyframes preloader-svg {
  0% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
  50% {
    d: path(
      "M0,230 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,960 305.333333,1080 0,1080 L0,230 Z"
    );
  }
  100% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
}
@keyframes preloader-svg {
  0% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
  50% {
    d: path(
      "M0,230 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,960 305.333333,1080 0,1080 L0,230 Z"
    );
  }
  100% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
}
@-webkit-keyframes preloader-inner {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes preloader-inner {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-ms-keyframes preloader-inner {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes preloader-inner {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes preloader-inner {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes page-transition {
  0% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z"
    );
  }
  100% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
}
@-moz-keyframes page-transition {
  0% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z"
    );
  }
  100% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
}
@-ms-keyframes page-transition {
  0% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z"
    );
  }
  100% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
}
@-o-keyframes page-transition {
  0% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z"
    );
  }
  100% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
}
@keyframes page-transition {
  0% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z"
    );
  }
  100% {
    d: path(
      "M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"
    );
  }
}
@-webkit-keyframes side-widget-in {
  0% {
    d: path(
      "M540,1080H0V0h540c-40.28,124.78-85.13,311.48-85,541C455.13,769.53,499.81,955.48,540,1080z"
    );
  }
  50% {
    d: path(
      "M540,1080H0V0h540c31.96,142.05,60.09,325.94,60,541C599.91,755.16,571.87,938.34,540,1080z"
    );
  }
  100% {
    d: path(
      "M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"
    );
  }
}
@-moz-keyframes side-widget-in {
  0% {
    d: path(
      "M540,1080H0V0h540c-40.28,124.78-85.13,311.48-85,541C455.13,769.53,499.81,955.48,540,1080z"
    );
  }
  50% {
    d: path(
      "M540,1080H0V0h540c31.96,142.05,60.09,325.94,60,541C599.91,755.16,571.87,938.34,540,1080z"
    );
  }
  100% {
    d: path(
      "M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"
    );
  }
}
@-ms-keyframes side-widget-in {
  0% {
    d: path(
      "M540,1080H0V0h540c-40.28,124.78-85.13,311.48-85,541C455.13,769.53,499.81,955.48,540,1080z"
    );
  }
  50% {
    d: path(
      "M540,1080H0V0h540c31.96,142.05,60.09,325.94,60,541C599.91,755.16,571.87,938.34,540,1080z"
    );
  }
  100% {
    d: path(
      "M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"
    );
  }
}
@-o-keyframes side-widget-in {
  0% {
    d: path(
      "M540,1080H0V0h540c-40.28,124.78-85.13,311.48-85,541C455.13,769.53,499.81,955.48,540,1080z"
    );
  }
  50% {
    d: path(
      "M540,1080H0V0h540c31.96,142.05,60.09,325.94,60,541C599.91,755.16,571.87,938.34,540,1080z"
    );
  }
  100% {
    d: path(
      "M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"
    );
  }
}
@keyframes side-widget-in {
  0% {
    d: path(
      "M540,1080H0V0h540c-40.28,124.78-85.13,311.48-85,541C455.13,769.53,499.81,955.48,540,1080z"
    );
  }
  50% {
    d: path(
      "M540,1080H0V0h540c31.96,142.05,60.09,325.94,60,541C599.91,755.16,571.87,938.34,540,1080z"
    );
  }
  100% {
    d: path(
      "M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"
    );
  }
}
@-webkit-keyframes side-widget-out {
  0% {
    d: path(
      "M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"
    );
  }
  50% {
    d: path(
      "M540,1080H0V0h540c-40.28,124.78-85.13,311.48-85,541C455.13,769.53,499.81,955.48,540,1080z"
    );
  }
  100% {
    d: path(
      "M540,1080H0V0h540c31.96,142.05,60.09,325.94,60,541C599.91,755.16,571.87,938.34,540,1080z"
    );
  }
}
@-moz-keyframes side-widget-out {
  0% {
    d: path(
      "M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"
    );
  }
  50% {
    d: path(
      "M540,1080H0V0h540c-40.28,124.78-85.13,311.48-85,541C455.13,769.53,499.81,955.48,540,1080z"
    );
  }
  100% {
    d: path(
      "M540,1080H0V0h540c31.96,142.05,60.09,325.94,60,541C599.91,755.16,571.87,938.34,540,1080z"
    );
  }
}
@-ms-keyframes side-widget-out {
  0% {
    d: path(
      "M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"
    );
  }
  50% {
    d: path(
      "M540,1080H0V0h540c-40.28,124.78-85.13,311.48-85,541C455.13,769.53,499.81,955.48,540,1080z"
    );
  }
  100% {
    d: path(
      "M540,1080H0V0h540c31.96,142.05,60.09,325.94,60,541C599.91,755.16,571.87,938.34,540,1080z"
    );
  }
}
@-o-keyframes side-widget-out {
  0% {
    d: path(
      "M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"
    );
  }
  50% {
    d: path(
      "M540,1080H0V0h540c-40.28,124.78-85.13,311.48-85,541C455.13,769.53,499.81,955.48,540,1080z"
    );
  }
  100% {
    d: path(
      "M540,1080H0V0h540c31.96,142.05,60.09,325.94,60,541C599.91,755.16,571.87,938.34,540,1080z"
    );
  }
}
@keyframes side-widget-out {
  0% {
    d: path(
      "M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"
    );
  }
  50% {
    d: path(
      "M540,1080H0V0h540c-40.28,124.78-85.13,311.48-85,541C455.13,769.53,499.81,955.48,540,1080z"
    );
  }
  100% {
    d: path(
      "M540,1080H0V0h540c31.96,142.05,60.09,325.94,60,541C599.91,755.16,571.87,938.34,540,1080z"
    );
  }
}
